<div class="container">
<div>
  <h3>Customer Manager</h3>
</div>
<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active"(click) = "loadPage('cardView')">CardView</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click) = "loadPage('listView')">listView</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">New Customer</a>
    </li>
  </ul>
  <div *ngIf ="cardViewStatus" >
    <app-customers-card [customersData] = 'customersData'></app-customers-card>
  </div>
  <div *ngIf ="listViewStatus">
    <app-customers-grid></app-customers-grid>
  </div>
</div>